@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

@mixin regular-font($font, $property, $align) {
    font-family: $font, sans-serif;
    font-weight: $property;
    text-align: $align;
}

// sizes
$button: 20px;
$text-md-des: 26px;
$text-des: 24px;